body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h3, h4 {
    text-align: center;
    margin-bottom: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.btn-danger {
    margin-left: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Mueve el botón a la derecha */
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff; /* Cambia el color de fondo de los encabezados */
    color: white;
    font-weight: bold;
}

td {
    background-color: #f0f0f0; /* Cambia el color de fondo de los cuadros */
    color: black;
}

.colored {
    background-color: #D9F2FF;
    color: #333;
    font-weight: bold;
}

.virtual {
    font-size: 0.9em;
    color: #666;
}

.text-small {
    font-size: 0.85em;
}
.container-fluid {
    padding: 20px; /* Añadir espacio alrededor del contenido */
}

table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

td {
    border: 1px solid #dee2e6;
    padding: 30px; /* Aumenta el espacio dentro de las celdas */
    text-align: center;
    height: 80px; /* Aumenta la altura de las celdas */
}
